absl-py==2.1.0
addict==2.4.0
attrs==23.2.0
Automat==22.10.0
Babel==2.1.1
buildtools==1.0.6
cachetools==5.5.0
causal-conv1d==1.1.1
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
clize==3.0
cloudpickle==3.0.0
cmake==3.28.1
constantly==23.10.4
contourpy==1.1.1
cycler==0.12.1
dbus-python==1.2.16
debtcollector==0.10.0
distro==1.4.0
docopt==0.6.2
einops==0.7.0
exceptiongroup==1.2.0
filelock==3.13.1
fonttools==4.51.0
fsspec==2023.12.2
funcsigs==0.4
furl==2.1.3
fvcore==0.1.5.post20221221
google-auth==2.34.0
google-auth-oauthlib==1.0.0
greenlet==3.0.3
grpcio==1.66.1
huggingface-hub==0.20.3
hyperlink==21.0.0
idna==3.6
imageio==2.34.1
imgaug==0.4.0
importlib-metadata==8.4.0
importlib-resources==6.4.0
incremental==22.10.0
iniconfig==2.0.0
iopath==0.1.10
iso8601==0.1.11
Jinja2==2.8
joblib==1.4.0
kiwisolver==1.4.5
lazy-loader==0.4
lit==17.0.6
# Editable install with no version control (mamba-ssm==1.1.1)
-e /workspace/EDMamba/mamba-1p1p1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mmcv==2.2.0
mmengine==0.10.4
monotonic==0.4
msgpack-python==0.4.6
netaddr==0.7.18
netifaces==0.10.4
networkx==3.1
ninja==1.11.1.1
numpy==1.24.4
oauthlib==3.2.2
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
orderedmultidict==1.0.1
oslo.config==2.6.0
oslo.context==0.8.0
oslo.i18n==2.7.0
oslo.log==1.13.0
oslo.serialization==1.11.0
oslo.utils==2.7.0
packaging==23.2
pbr==1.8.1
pillow==10.2.0
platformdirs==4.2.2
pluggy==1.3.0
portalocker==2.8.2
protobuf==4.25.2
pyasn1==0.6.0
pyasn1-modules==0.4.0
pygments==2.18.0
PyGObject==3.36.0
pyinotify==0.9.6
pyparsing==3.1.2
pysodmetrics==1.4.2
pytest==7.4.4
python-dateutil==2.8.2
pytz==2015.7
PyWavelets==1.4.1
PyYAML==5.1
redo==2.0.4
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
safetensors==0.4.2
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
# Editable install with no version control (selective-scan==0.0.2)
-e /usr/local/lib/python3.8/dist-packages
sh==1.11
shapely==2.0.4
sigtools==1.0
simplejson==3.19.2
six==1.10.0
SQLAlchemy==2.0.25
ssh-import-id==5.10
stevedore==1.9.0
submitit==1.5.1
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
thop==0.1.1.post2209072238
threadpoolctl==3.4.0
tifffile==2023.7.10
timm==0.4.12
tokenizers==0.15.1
tomli==2.0.1
torch==1.13.0+cu117
torchaudio==0.13.0+cu117
torchvision==0.14.0+cu117
tqdm==4.66.1
transformers==4.37.0
triton==2.0.0
twisted==23.10.0
typing-extensions==4.9.0
urllib3==2.1.0
vi==0.0.5.dev9
werkzeug==3.0.4
wrapt==1.10.5
yacs==0.1.8
yapf==0.40.2
zipp==3.18.1
zope.interface==6.4
